/* FONTS */
@font-face {
  font-family: 'Tanseek';
  src: url('../fonts/tanseek-modern-pro-arabic-bold.ttf');
}

/* ROOT */
:root {
  /* Colors */
  --blue: #000000;
  --green: #3cb371;
  --white: white;
  --midgray: #636e72;
  --darkgray: #2d3436;
  --red: red;
  --black: #000000;
  --background: rgba(25, 25, 25, 0.8);
  --button: rgb(15, 15, 15);
  --w: rgba(33, 165, 23, 0.6);
  --text: rgba(255, 255, 255, 0.85);
  --headerGreen: rgba(67, 160, 71, 0.993);
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
}

#scoreboard_container {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: Verdana;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreboard {
  position: absolute;
  height: 40%;
  min-width: 500px;
  transform: translateY(-50%);
  padding: 10px;
  padding: 10px;
}

#scoreboard_header {
  text-align: center;
  background-color: var(--headerGreen);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  color: white;
  font-family: "Tanseek";
  font-size: 25px;
}

#scoreboard_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  font-family: "Tanseek";
}

.player_header {
  display: flex;
  width: 100%;
  color: white;
  font-size: 30px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.9);
  height: 40px;
}

.player_header .id_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: var(--white);
}

.player_header .name_header {
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-color: var(--white);
}

.player_header .ping_header {
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-color: var(--headerUnline);
}

#scoreboard_players {
  height: 100%;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

#scoreboard_players::-webkit-scrollbar {
  display: none;
}

#scoreboard_animation {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 440px;
  background-color: rgba(0, 0, 0, 0.0);
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    background-color: rgba(0, 0, 0, 0.0);
  }
  to {
    background-color: rgba(0, 0, 0, 1.0);
  }
}

@keyframes fade-out {
  from {
    background-color: rgba(0, 0, 0, 1.0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.0);
  }
}

.player {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.player_data {
  display: flex;
}

.player .id {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player .name {
  height: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: var(--white);
}

.player .ping {
  height: 40px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player .buttons {
  display: none;
}

.green {
  color: limegreen;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.player_buttons {
  display: block;
  width: 100%;
}

#scoreboard_pages {
  background-color: var(--headerGreen);
  /* border: 1px solid black; */
  /* margin-top: 10px; */
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  font-family: "Tanseek";
  font-size: 25px;
}